<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="image-container">
        <img src="/images/book.jpeg" class="image" alt="image">
    </div>

    <form th:method="POST" th:action="@{/auth/register}" th:object="${person}">
        <label for="full_name">Full Name</label>
        <input type="text" id="full_name" th:field="*{fullName}">
        <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{fullName}">
            <span>Full Name Error</span>
        </div>
        <br/>
        <label for="username">Username</label>
        <input type="text" id="username" th:field="*{username}">
        <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{username}">
            <span>Username Error</span>
        </div>
        <br/>
        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}">
        <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{password}">
            <span>Password Error</span>
        </div>
        <br/>
        <label for="year_of_birth">Year Of Birth</label>
        <!-- Use type="date" for calendar input -->
        <input type="date" id="year_of_birth" th:field="*{year_of_birth}">
        <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{year_of_birth}">
            <span>Year Error</span>
        </div>
        <br/>
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>
