<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>
<form th:method="GET" th:action="@{/books/search}">
    <label for="search-input">Type Name of the Book</label>
    <input type="text" id="search-input" name="book_name">
    <input type="submit">
</form>

<div th:if="${books!=null}">
    <div th:each="book : ${books}">
        <p th:text="${book.getName()}"></p>
        <p th:if="${book.getOwner()!=null}" th:text="'Book to borrowed by: ' + ${book.owner.fullName}"></p>
        <p th:if="${book.getOwner()==null}">This book is free</p>
        <hr/>
    </div>
</div>

<div th:if="${books.isEmpty()}">
    <p>Book not found</p>
</div>

</body>
</html>